*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* width: 90%; */
    margin: 0 auto;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3de1cf;
    padding: 5px 32px;
    margin-bottom: 32px;
}
header ul{
    display: flex;
    list-style: none;
    gap:24px;
}
ul li{
    position: relative;
}
ul li::after{
    content: "";
    position: absolute;
    bottom:-5px;
    left:0;
    transition: all 0.5s;
    width: 0px;

    height: 4px;
    background-color: black;
}
li:hover::after{
    width: 100%;
}
header ul a{
    text-decoration: none;
    color:black;

}
.btn{
    padding: 10px 5px;
    border-radius: 10px;
    border:none;
    background-color: #2e5755;
    color:white;
    transition: all 0.5s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(90%);
    opacity: 0.9;
    box-shadow: 0 0 5px black;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.animation img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}
.main h1{
    margin-bottom: 10px;
}
.main h4{
    margin-bottom: 5px;
}
p{
    margin-bottom: 24px;
}
.animation{
    position: relative;
}
.animation img{
    animation-name: img-movement;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-duration: 0.3s;
}
.animation img:hover{
    box-shadow: 0 0 15px black
    ;
}
@keyframes img-movement{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-30px);
    }
}
.animation::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 15px 5px black;    
    animation-name: img-shadow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img-shadow{
    0%{
        transform: scaleX(100%);
    }
    100%{
        transform: scaleX(50%);
    }
}